<div class="container auth-container">
  <div class="register-container">
    <h3>Why creating an account?</h3>
    <ul>
      <li>You can place orders.</li>
      <li>You can see your order history.</li>
    </ul>
    <app-register-form></app-register-form>
  </div>
  <div class="empty-container"></div>
  <div class="login-container">
    <h3>Login</h3>
    <app-login-form></app-login-form>
    <br>
    <div>
      <a class="default-a" routerLink="../forgot-password">Forgot Password</a>
    </div>
    <div>
      <a class="default-a" routerLink="../send-verification-code">Send verification code</a>
    </div>

  </div>
</div>
