<ul>
  <li >
    <a routerLink="products" routerLinkActive="active" style="cursor: pointer">Product Management</a>
  </li>
  <li >
    <a routerLink="categories" routerLinkActive="active" style="cursor: pointer">Category Management</a>
  </li>
  <li>
    <a routerLink="promotions" routerLinkActive="active" style="cursor: pointer">Promotion Management</a>
  </li>
  <li >
    <a routerLink="inventory" routerLinkActive="active" style="cursor: pointer">Inventory Management</a>
  </li>
  <li >
    <a routerLinkActive="active" routerLink="order-management" style="cursor: pointer" >Order Management</a></li>
  <li>
    <a routerLink="create-admin" routerLinkActive="active" style="cursor: pointer">Create Admin Account</a>
  </li>
</ul>
<div class="container">
  <router-outlet></router-outlet>
</div>
