<div>
  <h2>Reset password</h2>
  <span>Please choose a new password</span>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field style="width: 100%;">
        <mat-label>Password</mat-label>
        <input matInput [type]="showPassword? 'text' : 'password'" type="password" formControlName="password">
        <mat-icon matSuffix (click)="onToggle()">{{showPassword?'visibility_off':'visibility'}}</mat-icon>
        <mat-error></mat-error>
      </mat-form-field>
    </div>
    <button mat-stroked-button style="width: 100%; border-radius: 20px" [disabled]="form.invalid">Login</button>
    <div>
      <mat-error *ngIf="error?.length>0" style="width: 100%">{{error}}</mat-error>
    </div>
  </form>
</div>
