<nav>
  <div class="nav-container">
    <a routerLink="/" routerLinkActive="active-link"  [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a [matMenuTriggerFor]="categoriesMenu" routerLinkActive="active-link" (click)="onLoad()" >Products</a>
      <mat-menu #categoriesMenu="matMenu" [class.show]="showCategoriesDropdown">
        <ng-container *ngFor="let category of categories">
          <button mat-menu-item *ngIf="category.subcategories.length > 0" [matMenuTriggerFor]="subcategoriesMenu" (mouseenter)="showSubcategories(category)" (mouseleave)="hideSubcategories()">
            {{ category.name }}
          </button>
          <button mat-menu-item *ngIf="category.subcategories.length === 0" (click)="onNavigate([category.name, ''])">
            {{ category.name }}
          </button>
          <mat-menu #subcategoriesMenu="matMenu" [class.show]="isActiveCategory(category) && showSubcategoriesDropdown" >
            <button mat-menu-item *ngFor="let subcategory of category.subcategories" (click)="onNavigate([category.name, subcategory.name])">
              {{ subcategory.name }}
            </button>
          </mat-menu>
        </ng-container>
      </mat-menu>
    <a routerLink="/terms" routerLinkActive="active-link">Terms and Conditions</a>
    <a routerLink="/about-us" routerLinkActive="active-link">About Us</a>
    <a routerLink="/admin" routerLinkActive="active-link" [hidden]="!isAdmin()" >Management</a>

  </div>
</nav>
