<div class="filter-options">
  <div class="filter-category">
    Availability
  </div>
  <div class="filter-option">
    <input type="checkbox" id="available" name="availability" >
    <label for="available">Available only</label>
  </div>

  <div class="filter-category">
    Price Range
  </div>
  <div class="filter-option price-filter">
    <div class="slider-container">
      <div class="price-range" *ngFor="let range of priceRanges">
        <input type="radio" [id]="range.label" [name]="'price-range'" [(ngModel)]="selectedPriceRange" [value]="range">
        <label [for]="range.label">{{ range.label }}</label>
      </div>
      <div class="custom-range">
          <app-price-range-selector></app-price-range-selector>
        </div>
    </div>
  </div>


</div>
