<div>
  <div class="products-page ">
    <div class="filter-options">
      <!-- Filter options content goes here -->
      <app-product-filter></app-product-filter>
    </div>

    <div class="product-list">
      <div class="product-overview" *ngFor="let product of products">
        <app-product-overview [product]="product"></app-product-overview>
      </div>
    </div>
  </div>
  <div>
    <div class="paginator">
      <ngb-pagination
        [(page)]="currentPage"
        [pageSize]="pageSize"
        [collectionSize]="numberOfProducts"
        [boundaryLinks]="true"

        [rotate]="false"
        [size]="'small'"
        (pageChange)="onPageChange($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
