<div>
  <div class="products-page ">
    <div class="filter-options">
      <div class="filter-options">
        <div class="filter-category">
          Availability
        </div>
        <div class="filter-option">
          <mat-checkbox (change)="onAvailableOnly($event)">Available only</mat-checkbox>

        </div>

        <div class="filter-category">
          Price Range
        </div>
        <div class="filter-option price-filter">
          <div class="slider-container">
            <div class="price-range" *ngFor="let range of priceRanges">
              <input type="radio" [id]="range.label" [name]="'price-range'" [(ngModel)]="selectedPriceRange" [value]="range" (click)="onPriceChange(range)">
              <label [for]="range.label">{{ range.label }}</label>
            </div>
          </div>
        </div>


      </div>
    </div>

    <div class="product-list">
      <div class="product-overview" *ngFor="let product of products">
        <app-product-overview [product]="product"></app-product-overview>
      </div>
    </div>
  </div>
  <div>
    <div class="paginator">
      <ngb-pagination
        [(page)]="currentPage"
        [pageSize]="pageSize"
        [collectionSize]="numberOfProducts"
        [boundaryLinks]="true"

        [rotate]="false"
        [size]="'small'"
        (pageChange)="onPageChange($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
