<div class="container">
  <h2>Terms and Conditions</h2>
  <p>Welcome to EverythingOnline!</p>

  <p>These terms and conditions outline the rules and regulations for the use of EverythingOnline's website.</p>

  <p>By accessing this website, we assume you accept these terms and conditions. Do not continue to use EverythingOnline if you do not agree to take all of the terms and conditions stated on this page.</p>


  <h3>License</h3>
  <p>Unless otherwise stated, EverythingOnline and/or its licensors own the intellectual property rights for all material on EverythingOnline. All intellectual property rights are reserved. You may access this from EverythingOnline for your personal use, subject to restrictions set in these terms and conditions.</p>
</div>
