<h2>Admin Account Management</h2>

<section class="button-section">
  <div class="button-group">
    <button mat-icon-button color="primary" aria-label="Add account" matTooltip="Add admin" (click)="onCreate()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Enable" [disabled]="isDisabled()" (click)="onEnable()">
      <mat-icon>check_circle</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Disable" [disabled]="isDisabled()" (click)="onDisable()">
      <mat-icon>cancel</mat-icon>
    </button>
    <button mat-icon-button color="primary" aria-label="Delete account" matTooltip="Delete admin" [disabled]="isDisabled()" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Refresh" aria-label="Refresh" (click)="onRefresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <div class="search-field">
    <mat-form-field>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput type="text" [(ngModel)]="searchKeyword" (input)="applyFilter()" placeholder="Search by username" />
    </mat-form-field>
  </div>
</section>

<mat-divider></mat-divider>
<div style="max-height: 630px; overflow-y: auto">
  <table matSort (matSortChange)="sortData($event)" mat-table [dataSource]="filteredAccounts" class="mat-elevation-z8 full-width" style="max-height: 800px">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="masterToggle()"
                      [checked]="isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="username" > Username </th>
      <td mat-cell *matCellDef="let element">{{element.username}}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="email" > Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="account state" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header="account state"> Enabled </th>
      <td mat-cell *matCellDef="let element">  <mat-icon [ngClass]="{'green-check': !element.disabled, 'red-x': element.disabled}">
        {{ !element.disabled ? 'check_circle' : 'cancel' }}
      </mat-icon> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
